* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  /* border: solid 5px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Spartan", sans-serif;
  background: #fff;
  position: relative;
}
.bg-top,
.bg-bottom {
  position: absolute;
}
.bg-top {
  top: 0;
  left: 0;
}
.bg-bottom {
  right: 0;
  bottom: 0;
}
.upper,
.lower {
  /* border: solid 5px black; */
  height: 40%;
  width: 80%;
  z-index: 2;
}
.lower {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  /* border: solid 5px black; */
  height: 100%;
  width: 40%;
}
.left div h1 {
  font-size: 45px;
  color: hsl(300, 43%, 22%);
}
.left div h4 {
  color: hsl(303, 10%, 53%);
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ratings h3 {
  font-size: 15px;
}
.star {
  margin-left: 20px;
  margin-right: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ratings {
  width: 88%;
  height: 20%;
  /* border: solid 5px black; */
  background: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
}
.ratings:nth-child(2) {
  margin-left: 30px;
}
.ratings:nth-child(3) {
  margin-left: 60px;
}
.one,
.two,
.three {
  /* border: solid 5px black; */
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(300, 43%, 22%);
  border-radius: 10px;
}
.two {
  margin-top: 25px;
}
.three {
  margin-top: 50px;
}
.left div:first-child {
  height: 60%;
  width: 100%;
  /* border: solid 5px black; */
}
.left div:last-child {
  height: 30%;
  width: 100%;
  /* border: solid 5px black; */
  margin-top: 5px;
}

.name {
  width: 80%;
  height: 30%;
  /* border: solid 5px black; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name::after {
  content: "";
  /* border: solid 5px black; */
  border-radius: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.one .name::after {
  background: url(images/image-colton.jpg);
  background-size: cover;
}
.two .name::after {
  background: url(images/image-irene.jpg);
  background-size: cover;
}
.three .name::after {
  background: url(images/image-anne.jpg);
  background-size: cover;
}
.content {
  height: 50%;
  width: 80%;
  /* border: solid 5px black; */
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.name h4 {
  margin-left: -5px;
  color: #fff;
}
.name h4:last-child {
  color: hsl(333, 80%, 67%, 0.7);
  font-weight: 400;
  margin-top: 5px;
}

/* @media screen and (max-width:375px){
.upper, .lower{
  flex-direction: column
}

} */
@media screen and (max-width: 1440px) {
  .upper,
  .lower {
    /* flex-direction: column */
    width: 90%;
  }
  .left,
  .right {
    width: 45%;
  }
  .left {
    /* align-items: center; */
    justify-content: center;
  }
  .upper .left > div {
    width: 80%;
  }
  .name::after {
    top: 50%;
    transform: translate(0%, -50%);
    left: 5%;
  }
}
@media screen and (max-width: 1360px) {
  .name h4 {
    margin-left: 20px;
  }
  .lower {
    height: 50%;
  }
  .upper {
    height: 45%;
  }
  .one,
  .two,
  .three {
    height: 30vh;
  }
  .two {
    margin-top: 80px;
  }
  .three {
    margin-top: 160px;
  }
}
